*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  body{
    margin: 0 100px;
    background: black;
    width: 100%;
    height: 100vh;
  }
  .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  .nav .logo h1{
    font-weight: 1000;
    font-family: Cambria;
    color: rgb(29, 169, 224);   
  }
  .nav .logo  b{
    font-family: 'MV Boli';
    color: rgb(211, 33, 63);
  }
  nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size:18px ;
    text-transform: uppercase;
    padding: 0px 30px;
    color: rgb(42, 175, 216);
}
nav li a:hover{
    color: #db2f19;
    transition: all 0.4s ease 0s;
}
  .content{
    display: grid;
    grid-template-columns: 70% auto;
    gap: 10px;
    margin-top:10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .content .content-left{
    display: block;
    width: 100%;
  }
  .content .content-left .info{
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
    color:rgb(216, 17, 60);
  }
  .content .content-left .info h2{
    font-size:50px;
    font-family:sans-serif;
    margin-bottom:5px;
    margin-top: 3px;
    color:#e41212;
  }
  .content .content-left .info p{
    font-size: 19px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
  }
  .content .content-left button {
    padding: 10px 23px;
    background-color: rgb(44, 160, 214);
    color: white; 
    border-radius:5px;
    margin-bottom: 5px;
    margin-top:1px;
    border:none;
    cursor: pointer;
  }
  .content .content-right{
    display:block;
    width: 0px 5px;
    height: 0px 5px;
  }
  .content .content-right img{
    width: 370px 150px;
    height:280px;
    position:relative;
  }
  .category{
    width:100%;
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
  }
  .category .list-items h3{
    font-size:20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom:70px;
  }
  .category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .category .list-items .card-list .card{
    width: 200px;
    height: 200px;
    cursor: pointer;
    display:block;
    padding:10px;
    border-radius:10px;
    position: relative;
    background:#09000a;
    outline: 2px solid rgb(223, 9, 9);
  }
  .category .list-items .card-list .card img{
    width:100px;
    height:100px;
    bottom: 150px;
    left:50px;
    object-fit:cover;
    object-position: center;
    background-repeat: no-repeat;
    position:absolute;
    border-radius:50% ;
  }
  .category .list-items .card-list .card .list-of-events h1{
    padding: 40px 0 10px;
    text-align: center;
    font-weight: bold;
    font-size:16px;
    font-family:sans-serif;
  }
  .category .card .desc p{
    font-size: 13px;
    text-align:center;
    font-weight:500;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(231, 18, 18);
  }